# Lesson 1: Introduction to Python Basics

## Section 1: Getting started with python & jupyter notebook

### Welcome to your first Python for Data Analysis class! This notebook will introduce you to Jupyter Notebook and provide an overview of the basics of Python.

In [ ]:
# Print statements: used to display the output of a code
# Comments
# Basic Arithmetics

print("Hello, Data Analyst!")

In [ ]:
# This is a comment -- python will ignore this line and not display any output

In [ ]:
# python as a calculator

print(10 + 5)
print(10 * 5)
print(10 ** 2) # Exponent (Power)

## Section 2: Variables and Data Types

Variable is a name storage location for data values in python. It is created the moment a value is assigned to it using the assignment operator. Variable names can contain letters, numbers, underscore. They either start with a letter or underscore, and are also case senisitive. A python variable name must not be the same as a python keyword, e.g if, or, etc.

In [ ]:
# examples of valid variable names

my_var = 20
myvar = 30
_myvar = 40

Variables can store different data types, such as:
1. integer
2. string
3. boolean
4. float

Here are some examples

In [ ]:
# here we are creating variables without declaring their type
# integer
x = 10
y = 20

# string
name = "John"
city = "Lagos"

# float
pi = 3.14
area = 5.4

# boolean
is_true = True
not_here = False

In [ ]:
# let's use the print function to display the output of all the variables

print(x)
print(y)
print(name)
print(city)
print(pi)
print(is_true)
print(not_here)

In [ ]:
# We can use the type function to check the variable types. Let's take one of each example above

print(type(x))
print(type(name))
print(type(pi))
print(type(is_true))

Variable assigned to a value can be assigned to another value. Therefore if we are to display the variable, it will output the newest value assigned to it. Let's see how that works below:

In [ ]:
# recall the name variable we created above
print(name)

In [ ]:
# let's reassign the variable

name = "John"    # intital value
name = "Jane"    # new value

print(name)      # this will output Jane

## Class Exercise: Create your own variables with different data types and display the values and data types

Try creating data to match details about yourself (doesn't have to be accurate)

In [ ]:
# your code here

## Section 3: Basic Operations

Python provides various types of operators to perform different operations on data. These can be broadly categorized as follows:
1. Arithmetic operators: performs mathematical operations.
2. Assignment operators: Assign values to variables.
3. Comparison Operators: Compare two values and return a boolean (True or False).
4. Logical operators: Combine conditional statements.
5. String operators.

In [ ]:
# arithmetic operators:
x = 3
y = 2

Addition = x + y
Subtraction = x - y
Multiplication = x * y
Division = x / y               # returns a float
Floor_Division = x // y        # returns the integer part of the quotient
Modulo = x % y                 # returns the remainder of a division
Exponentiation = x ** y


print(f"Addition: {Addition}")
print(f"Subtraction: {Subtraction}")
print(f"Multiplication: {Multiplication}")
print(f"Division: {Division}")
print(f"Floor Division: {Floor_Division}")
print(f"Modulo: {Modulo}")
print(f"Exponentiation: {Exponentiation}")

In [ ]:
# assignment operators: we treated this above while dealing with variables and data types
# here we assigned the value 5 to the variable name x

x = 5
x += 5    # also x = x + 5
x -= 5    # also x = x - 5

In [ ]:
# comparison operators
# == (Equal to)
# != (Not equal to)
# > (Greater than)
# < (Less than)
# >= (Greater than or equal to)
# <= (Less than or equal to)

p = 7
q = 5

print(p == q) # Output: False
print(p > q)  # Output: True

In [ ]:
# logical operators
# and (Returns True if both conditions are true)
# or (Returns True if at least one condition is true)
# not (Reverses the boolean result of a condition)

is_sunny = True
is_warm = False

print(is_sunny and is_warm) # Output: False
print(is_sunny or is_warm)  # Output: True
print(not is_sunny)         # Output: False

In [ ]:
# string operators

first_name = "Data"
last_name = "Analyst"

# Concatenation
full_name = first_name + " " + last_name
print(full_name)

In [ ]:
# String methods

print(full_name.upper())  # Convert to uppercase
print(full_name.lower())  # Convert to lowercase
print(len(full_name))     # String length
print(full_name.replace("Data", "Python"))  # Replace substring (replace(old_value, new_value))

In [ ]:
# String formatting (f-strings, introduced in Python 3.6)

age = 25
experience = 1.5
intro = f"I am a {full_name}, {age} years old with {experience} years of experience."
print(intro)

## Class Exercise: Create and manipulate variables to practice these operations

In [ ]:
# your code here:

# Lesson 2: Control Flow

## If, elif, and else Statements

These are conditional statements that allows a program make decisions based on certain conditions. The IF statement checks if a condition is true, the ELIF adds more condition(s) to the IF statement, and the ELSE statement executes the code if none of the conditions in the IF and ELIF are true.

In [ ]:
# let's check the eligibility of an individual to vote

age = 16
if age >= 18:
    print("Eligible to vote üëç")
elif age == 17:
    print("Eligible next year")
else:
    print("Ineligible to vote üò¢")

In [ ]:
# remember logical operators?

True and True # output True
True or False # output True
False or True # output True

In [ ]:
# Multiple conditions

in_stock = True
on_sale = False

if in_stock and on_sale:
    print("Available and on sale!")
elif in_stock or on_sale:
    print("Either available or on sale")
else:
    print("Neither available nor on sale")

## Loops

Loops are control flow statements used to repeatedly execute a block of code. The two primary types of loops are 'for' loops and 'while' loops.

For loops are used to iterate over a sequence (like a list, tuple, string, or range) or other iterable objects. They are typically used when the number of iterations is known or when you need to process each item in a collection.

In [ ]:
# using a list. We'll look into lists extensively in data structures

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

In [ ]:
# using range: The range() function is often used with for loops to specify a number of iterations. 

print("Numbers from 0 to 4:")
for i in range(5):
    print(i)

In [ ]:
# For loop with range (start, stop, step)

print("Even numbers from 2 to 10:")
for i in range(2, 11, 2):  # 2, 4, 6, 8, 10
    print(i)

While loops are used to repeatedly execute a block of code as long as a certain condition remains true. They are typically used when the number of iterations is unknown and depends on a specific condition being met.

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1     # equivalent to count = count + 1

Control Statements: they are used to control the flow of a loop, whether for or while loop
1. break: Terminates the loop entirely.
2. continue: Skips the current iteration and proceeds to the next one.
3. pass: A null operation; it does nothing and is used as a placeholder.

In [ ]:
# example

for num in range(10):   # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
    if num == 1:
        pass      # does nothing and continues with the loop
    if num == 3:
        continue  # Skip 3
    if num == 7:
        break     # Exit the loop at 7
    print(num)

In [ ]:
# another example

count = 0
while count < 15:
    print(count)
    count += 1     # equivalent to count = count + 1
    # print(count)
    if count == 7:
        break     # exit the loop at 6

We'll look deeper into control flow in the data structures lesson.

## Class Exercise: write your own control flow statements to answer the following questions

Q1. Write a program that prints whether each number from 1 to 10 is even or odd.

expected output:
1. 1 is odd
2. 2 is even
3. 3 is odd
....

In [ ]:
# your code here:
# hint: use if/else and loop

Q2. Write a program that counts how many values are positive, negative, and zero in the provided list

hint: loop + condition

In [ ]:
numbers = [3, -1, 0, 12, -7, 5, 9]

# your solution:

Q3. Simple login system

You have a correct password stored:
password = "python123"

Allow the user 3 attempts to enter the password:
1. If correct ‚Üí print "Login successful"
2. If wrong ‚Üí print "Wrong password"
3. After 3 wrong attempts ‚Üí print "Account locked"

hint: if/else + loop

In [ ]:
# your code here:

# Lesson 3: Data Structures

Python has several built-in data structures for organising and storing data efficiently: lists, tuples, sets, and dictionaries. They vary in their mutability (changeability).

## Lists

It is an ordered collection of items, represented by the 'list' data type. Lists are ideal for most general-purpose collections where you need to add, remove, and modify elements frequently, such as a list of tasks in a to-do application. It can also store mixed data types

In [1]:
# Creating a list

products = ["Laptop", "Headphones", "Mouse", "Keyboard"]
prices = [1200, 150, 25, 60]
mixed_list = ["Product", 42, 3.14, True, None]

print(products)
print(prices)
print(mixed_list)

['Laptop', 'Headphones', 'Mouse', 'Keyboard']
[1200, 150, 25, 60]
['Product', 42, 3.14, True, None]

In [15]:
# Accessing list elements (0-indexed); using index position to access elements of the list
# Note: python indexing starts from zero, i.e first number is 0, second number is 1

print(f"First product: {products[0]}")  # Laptop
print(f"Last product: {products[-1]}")  # Keyboard   using negative indexing

First product: Laptop
Last product: Keyboard

List slicing is a technique used to extract a specific portion (sublist) of elements from a list by specifying a range of indices.

In [13]:
# Slicing lists [start:end:step]

print(f"First two products: {products[0:2]}")  # ['Laptop', 'Headphones']
print(f"Every other price: {prices[::2]}")     # [1200, 25]    this is getting every second element

First two products: ['Laptop', 'Headphones']
Every other price: [1200, 25]

In [9]:
# Slicing lists [start:end:step]. 
# let's use a new list as example

my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# Get a specific range of elements:
# Elements starting from index 2 up to (but not including) index 6

sub_list = my_list[2:6]
sub_list

[2, 3, 4, 5]

In [11]:
# Get elements from the beginning up to a specific index

sub_list = my_list[:4]
sub_list

[0, 1, 2, 3]

In [12]:
# Get elements from a specific index to the end

sub_list = my_list[5:]
sub_list

[5, 6, 7, 8, 9]

In [14]:
# Get every nth element

sub_list = my_list[::2]    # 2 is the nth value here
sub_list

[0, 2, 4, 6, 8]

In [17]:
# Use negative indices:
# Last three elements of the list

sub_list = my_list[-3:]
sub_list

[7, 8, 9]

In [18]:
# Reverse a list
# Reverses the entire list using a step of -1

reversed_list = my_list[::-1]
reversed_list

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [20]:
# Modifying Lists with Slicing
# Slicing can also be used to modify, resize, or delete elements in a list by assigning a new list to the slice. 

fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

In [21]:
# Replace elements at indices 1 and 2 with new values
fruits[1:3] = ['blueberry', 'cantaloupe']
fruits

['apple', 'blueberry', 'cantaloupe', 'date', 'elderberry']

In [22]:
# Delete elements by assigning an empty list to a slice
fruits[3:] = []
fruits

['apple', 'blueberry', 'cantaloupe']

In [32]:
# List methods

products = ["Laptop", "Headphones", "Mouse", "Keyboard"]
products.append("Monitor")  # Add to end of the list
print(products)

['Laptop', 'Headphones', 'Mouse', 'Keyboard', 'Monitor']

In [33]:
# Insert at specific position

products.insert(1, "Tablet")  # inserting at index position 1
print(products)

['Laptop', 'Tablet', 'Headphones', 'Mouse', 'Keyboard', 'Monitor']

In [34]:
# Remove specific value

products.remove("Mouse")  
print(products)

['Laptop', 'Tablet', 'Headphones', 'Keyboard', 'Monitor']

In [35]:
# Remove and return last item

popped_item = products.pop() 
print(f"Removed: {popped_item}, Remaining: {products}")

Removed: Monitor, Remaining: ['Laptop', 'Tablet', 'Headphones', 'Keyboard']

In [36]:
# List operations
# len determines the number of items in an object

total_items = len(products)
print(f"Total products: {total_items}")

Total products: 4

In [37]:
prices

[1200, 150, 25, 60]

In [38]:
# Sort in descending order

sorted_prices = sorted(prices, reverse=True)  
print(f"Sorted prices: {sorted_prices}")

Sorted prices: [1200, 150, 60, 25]

### Loops with Lists

In [56]:
# using for loops
# Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [57]:
# loop through with index numbers

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [58]:
# using while loop

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

### List Comprehension

List comprehension is a concise way to create a new list by applying an expression to each element of an existing list. It allows you to write a one-liner code to create a new list, rather than writing multiple lines of code using loops.

In [60]:
# syntax: new_list = [expression for item in iterable if condition == True]
# explanation
# expression: The expression that is applied to each element of the iterable. 
# item: The variable that represents each element of the iterable. 
# iterable: The existing list or other iterable to be used. 
# condition: The optional condition that filters the elements of the iterable.

Here's an example that creates a new list of squares of the numbers in an existing list:

In [61]:
# using loops

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = []

for num in num_list:
    squares.append(num ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
# using list comprehension

squares = [num ** 2 for num in num_list]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
# using the same list, let's create a new list of even numbers

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_num = []

for num in num_list:
    if num % 2 == 0:
        even_num.append(num)
print(even_num)

# with list comprehension
even_num = [num for num in num_list if num % 2 == 0]
print(even_num)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

## Tuples

A tuple is an ordered collection of items, similar to a list. However, tuples are immutable, meaning their values cannot be changed. In Python, tuples are represented by the "tuple" data type.
Tuples are best when the data should remain constant throughout the program's execution, like geographical coordinates.

Characteristics:
1. Ordered
2. Cannot be changed (immutable)
3. Allows duplicates
4. Faster than lists

In [39]:
# create tuple

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [42]:
# we can also create a tuple with one item. To do this, we must add a comma to the item otherwise python will not see it as a tuple.

thistuple = ("apple",)
print(thistuple)
print(type(thistuple))

('apple',)
<class 'tuple'>

In [43]:
# tuple can also be of different data types

tuple1 = ("abc", 34, True, 40, "male")
tuple1

('abc', 34, True, 40, 'male')

In [44]:
# Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [45]:
# just like lists, we can access tuple items with indexing

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [46]:
# using negative indexing to print the last item of the tuple

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [47]:
# Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])  # remember, the last index is exclusive

('cherry', 'orange', 'kiwi')

In [48]:
# Check if "apple" is present in the tuple: To determine if a specified item is present in a tuple use the in keyword

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [50]:
# adding items 
# recall that tuples are immutable therefore we cannot use the built-in .append() function to add items to it
# we can use another method: adding a tuple to an existing tuple

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [51]:
# another method is to convert the tuple to a list, add the new item, then conveert back to a tuple

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)   # using the list() method to create a list
y.append("orange")    # ad new item to list
thistuple = tuple(y)  # convert back to tuple

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

This method also works if we want to remove an item from the tuple.

In [52]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [ ]:
# we can also delete the entire tuple using the del keyword

thistuple = ("apple", "banana", "cherry")
del thistuple

### Loops with Tuple

In [53]:
# using for loop
# let's iterate through the items and print the values

thistuple = ("apple", "banana", "cherry")
for item in thistuple:
    print(item)

apple
banana
cherry

In [54]:
# we can also loop through the tuple items by referring to their index number.
# use the range() and len() functions to create a suitable iterable.

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

Explanation

thistuple contains three items:
"apple", "banana", "cherry"

range(len(thistuple))

len(thistuple) = 3

range(3) generates: 0, 1, 2

The loop prints each element using its index.

In [55]:
# using while loop
# Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

Explanation

i starts at 0.

The condition i < len(thistuple) checks if i is still within the valid index range.

len(thistuple) = 3

Valid indexes: 0, 1, 2

Each iteration prints the element at index i.

i = i + 1 increments the counter so the loop eventually stops.